[Unit]
Description=DevOps Init

[Service]
Type=oneshot
Environment=HOME=/devops
WorkingDirectory=/devops
ExecStart=/devops/init

[Install]
WantedBy=multi-user.target

